<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trial Index</title>
</head>
<body>
    <h1>Trial Index</h1>
    <div class="col-md-12">
        <div class="col-md-4" style="padding: 2px; border-style:solid;">
           <p>
            Image: Sample img 1<br>
            Description: Details img 1<br>
            Price img 1: $300 <br>
           </p>
        </div>
        <div class="col-md-4" style="padding: 2px; margin: border-style:solid;">
            <p>
             Image: Sample img 2<br>
             Description: Details img 2<br>
             Price img 2: $500 <br>
            </p>
         </div>
         <div class="col-md-4" style="padding: 2px; border-style:solid;">
            <p>
             Image: Sample img 3<br>
             Description: Details img 31<br>
             Price img 3: $700 <br>
            </p>
         </div>
    </div>
</body>
</html>